#contato {
    background: var(--cor-1);
}

.contato {
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
    background: var(--cor-12);
    border-radius: 5px 0 0 5px;
}

.contato-formulario {
    background: var(--cor-0);
    border-radius: 0px 5px 5px 0px;
}

.contato-dados h2 {
    margin-bottom: 60px;
}

.contato-endereco {
    margin-bottom: 32px;
    padding-left: 28px;
    background: url(../../img/icones/local.svg) no-repeat 0 2px;
}

.contato-endereco p {
    margin-bottom: 8px;
}

.contato-meios a {
    display: block;
    max-width: max-content;
    margin-bottom: 8px;
    padding-left: 28px;
}

.contato-meios a:first-child {
    background: url(../../img/icones/email.svg) no-repeat 0 2px;
}
